.itemContainer {
    display: flex;
    flex-direction: row;
    padding: 20px;
    border-bottom-color: lightgray;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.detailsContainer {
    margin-left: 20px;
    font-family: 'Montserrat-Light';
    width: 70%;
}

.price {
    margin-top: 20px;
    font-family: 'Montserrat-Regular';
    font-size: 20px; 
}

.saleDetailsContainer {
    display: flex;
    flex-direction: column; 
}

.saleDate {
    font-family: 'Montserrat-Light';
    margin-bottom: 10px;  
}

.soldQuantity {
    font-family: 'Montserrat-Light';
}