.productInfoContainer {
    display: flex;
    flex-direction: column;
    width: 80%;
    background-color: rgb(245, 242, 233);
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 40px;
}

.primaryDetailsWrapper {
    display: flex;
    flex-direction: row;
}

.primaryDetailsContainer {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    width: 80%;
}

.productTitle {
    font-family: "Montserrat-Bold";
    font-size: 25px;
}

.productPrice {
    margin-top: 20px;
    font-family: "Montserrat-Regular";
    font-size: 35px;
}

.productCondition {
    margin-top: 20px;
    font-family: "Montserrat-Light";
}

.productPrimaryDetail {
    margin-top: 5px;
    font-family: "Montserrat-Light";
}

.shippingDetail {
    margin-top: 15px;
    font-family: "Montserrat-Bold";
    color: #00a650;
}

.infoContainer {
    margin-top: 30px;
}

.otherInfoTitle {
    font-family: "Montserrat-Regular";
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.buyContainer {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-left: 10px;
}

.reviewValueContainer {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    align-items: center;
}

.reviewValue {
    font-family: "Montserrat-Light";
}

.otherDetailsContainer {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 20px;
}

.otherDetailsTitle {
    font-family: "Montserrat-Regular";
    font-size: 20px;
    margin-bottom: 20px; 
}

.productAttribute {
    font-family: "Montserrat-Light";
    margin-bottom: 2px;
}

.allReviewsContainer {
    display: flex;
    flex-direction: column;
}

.reviewContainer {
    display: flex; 
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
}

.reviewDescription {
    margin-left: 20px;
    font-family: "Montserrat-Light";
}

.reviewDate {
    font-family: "Montserrat-Light";
    margin-right: 10px;
}